@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.top-text {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
menu {
  padding: 0;
  list-style: none;
  background-color: #311b92;
  text-align: center;
  position: sticky;
  top: 0;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.4);
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* menu li {
  display: inline-block;
  font-size: 14pt;
} */
menu li a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  display: block;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  transition: ease-out 0.25s;
  
}
menu li a:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 1);
}
.text-after {
  text-align: center;
  width: 100%;
}
.text-after p {
  text-align: left;
}
img {
  width: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.dropbtn {
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 3px 3px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #008673;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: black;}


a {
    text-decoration: none;
  }
  
nav {
    font-family: monospace;
    flex: auto ;
    width:100%;
    
}
nav ul {
    display: flex;
    
    
    
}

nav li {
    flex: auto ;
}
  

ul {
    background: black;
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 15px;
}

li {
    justify-content:space-evenly;

    color: #fff;
    background: black;
    display:inline-block;
    float: center;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    z-index: 1;
    
    
}

li a {
    color: #fff;
}

    li:hover,
    li:focus-within {
    background: #008673;
    cursor: pointer;
}

li:focus-within a {
outline: none;
}

ul li ul {
    background: #008673;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0.5rem;
    left: 0;
    top: 55px;
    display: none;
    text-align: left;
    font-size: 14px;   
     
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

#containerbox {
    position: absolute;
    text-align: center;
    color: white;
    display: inline-block;
    flex-wrap: nowrap;
    width:100%;
    
  }